@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px; /* Cette règle peut être gardée ou supprimée selon vos besoins */
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}





